*{
    padding: 0px;
    margin: 0px;
}


/* navigator bar */
.navbar{
    background-color: black;
    display: flex;
    justify-content: center;
}
.navlinks{
    display: flex;
    justify-content: space-between;
}
ul{
    color: rgb(168, 158, 158);
    list-style: none;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
}
ul li{
    display: inline-block;
    padding: 12px 60px;
    transition: color 1s;
    position: relative;
}
ul li:hover{
    color: aliceblue;
    cursor: pointer;
}

/* main body */

.apple-container{
    background: url(https://images.pexels.com/photos/699122/pexels-photo-699122.jpeg?auto=compress&cs=tinysrgb&w=600);
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.apple-text{
    text-align: center;

}

h2{
    align-content: center;
    color: white;
    border: transparent;
    font-size: 200px;
    font-weight: bolder;
    transition: color 0.3s ease;
}

h2:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}

button{
    padding: 20px;
    font-size: 18px;
    border: none;
    border-radius: 25px;
    background-color: #000000;
    color: rgb(139, 139, 139);
    transition: all ease-out 0.3s;
}

button:hover{
    background-color: #fff;
    color: black;
}

/* drop down menu */
.drop_down_menu{
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: black;
    padding: 20px;
    width: 600px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
}
.navlinks ul li:hover .drop_down_menu{
    display: flex;
}

.menu-section{
    flex: 1;
    padding: 0 20px;
}

.menu-section ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-section ul li{
    padding: 8px 0;
}

.menu-section ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}


.menu-section ul li a span{
    font-size: 18px;
    color: #ccc;
}

.menu-section ul li a:hover{
   color: #ccc; 
}